*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#0f0f0f;

}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: 56px;
    align-items: center;
}

.left{
    display: flex;
   padding: 0 16px; 
   gap: 10px;
}

#search{
    padding: 10px;
    width: 410px;
    height: 30px;
    border-radius: 30px;
}